<section style="margin:20px;">
  <h2>View Details</h2>
  <ul>
    <li *ngFor="let estimate of estimates; let i=index">
      <div class="grid">
        <div style="min-width:300px">{{estimate.company}} </div>
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="openVerticallyCentered(content,i)">
            View Details
          </button>        
      </div>
    </li>
  </ul>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Estimate Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flex" *ngIf="currentEstimate">
          <div class="eachrow"><span class="bold">Company:</span> {{currentEstimate.company}}</div>
          <div class="eachrow"><span class="bold">Add Desc:</span> {{currentEstimate.addDesc}}</div>
          <div class="eachrow"><span class="bold">Add Lan:</span> {{currentEstimate.addLan}}</div>
          <div class="eachrow"><span class="bold">Caption:</span> {{currentEstimate.caption}}</div>
          <div class="eachrow"><span class="bold">Type:</span> {{currentEstimate.adtype}}</div>
          <div class="eachrow"><span class="bold">Area:</span> {{currentEstimate.area}}</div>
          <div class="eachrow"><span class="bold">Duration:</span> {{currentEstimate.duration}}</div>
          <div class="eachrow"><span class="bold">Rate:</span> {{currentEstimate.rate}}</div>
          <div class="eachrow"><span class="bold">Rent Unit:</span> {{currentEstimate.rentUnit}}</div>
          <div class="eachrow"><span class="bold">Scheduled From:</span> {{currentEstimate.scheduledFrom}}</div>
          <div class="eachrow"><span class="bold">Scheduled To:</span> {{currentEstimate.scheduledTo}}</div>
          <div class="eachrow"><span class="bold">Site:</span> {{currentEstimate.site}}</div>
          <div class="eachrow"><span class="bold">Unit:</span> {{currentEstimate.unit}}</div>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    
    
    
</section>