<!--The content below is only a placeholder and can be replaced.-->
<ng4-loading-spinner> </ng4-loading-spinner>
<nav class="mainmenu-area affix-top" data-spy="affix" data-offset-top="200">
  <div class="container-fluid">
      <div class="navbar-header" style="display:flex">          
          <h3 style="width:50%"><a class="navbar-brand" routerLink="/home">Estimates entries</a></h3>
          <h3 style="width:50%"><a class="navbar-brand" routerLink="/viewentries">View entries</a></h3>
      </div>      
  </div>
</nav>

<router-outlet></router-outlet>