<section class="margin">
  <h2>Upload Excel</h2>
  <div class="alert alert-danger" role="alert" [hidden]="!this.error">
      <div *ngFor="let error of Errors">{{error}}</div>
    </div>
  <input #uploadfile type="file" name="upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="uploadFile($event)" multiple="false">
  <div style="margin-top:20px">
  <button type="button" (click) = "saveFile($event)" class="btn btn-primary" [disabled]="!this.valid" >Save me</button> 
  </div>   
</section>
