.hideerror{
    display: none;
}
.hidden{
    display: none;
}
.booth {
    width: 400px;
    background: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}


.half-width{
   display: flex;       
}
.form-group{
    margin-right: 10px !important;
}
.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.error-text{
    color:red;
}