<section class="container">
  <div class="container" fxLayout="column" fxLayoutGap="10px" style="margin-top:20px; margin-bottom:20px;" >

    <div fxFlex>
      <div>
        <h4>Enter Your Details</h4>
        <hr>
      </div>
    </div>
    

    <form novalidate [formGroup]="entryform" (ngSubmit)="onSubmit()">

      <div class="form-group">        
          <label for="inputEmail4">Estimate Name</label>
          <input type="text" formControlName="Name" class="form-control" placeholder="Estimate name" (blur)="onblurname($event)" >
          <div [hidden]="flag" class="error-text">
              {{formErrors.Name}}
            </div>              
      </div>


      <div class="form-group">
        <label for="contact">StartDate</label>
        <input class="form-control" formControlName="StartDate"  id="contact" placeholder="Enter Start Date" type="date" required>
        <div [hidden]="!(formErrors.StartDate)" class="error-text">
            Please enter Start date.
          </div>
      </div>
      <div class="form-group">
        <label for="tomeet">EndDate</label>
        <input type="date" formControlName="EndDate"  class="form-control">
        <div [hidden]="!(formErrors.EndDate)" class="error-text">
            Please enter Enddate.
          </div>
      </div>
      <div class="form-group">
        <label >Objective </label>
        <textarea class="form-control" formControlName="objective"  rows="2" maxlength="250"></textarea>
        <div [hidden]="!(formErrors.objective)" class="error-text">
            Please enter Objective.
          </div>
      </div>
      <div class="form-group">
        <label>Estimate Cost </label>
        <input type="number" formControlName="Cost"  class="form-control" placeholder="Estimate Cost" pattern="^[1-9]\d*(\.\d+)?$">
        <div [hidden]="!(formErrors.Cost)" class="error-text">
            {{formErrors.Cost}}
        </div>
      </div>
      <div class="form-group">
        <label>Client name</label>
        <select class="form-control" formControlName="clientname">  
               
          <option *ngFor="let client of clientName" >
            {{client}}
          </option>
        </select>
      </div>
      <div class="form-group">
          <label>Brand name</label>
          <select class="form-control" formControlName="brandname">                   
            <option *ngFor="let brand of brandName" >
              {{brand}}
            </option>
          </select>
        </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="this.entryform.invalid || !flag">Upload excel</button>
    </form>
  </div>



</section>